/* Footer.css */

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #333;
  color: #fff;
  padding: 30px;
}

/* 
.branding {
    flex: 1; 
}

nav {
    flex: 1; 
}

.socials {
    flex:1;
} 


.contact-info {
    flex: 1; 
}*/

.socials a {
  color: #fff;
}

/* Estilos para el pie de página inferior */
.footer-bottom {
  background-color: #222;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  color: #fff;
  font-size: 14px;
}

/* */
.pi {
  font-size: 18px;
  margin-right: 2px;
}

nav a {
  color: #fff;
}

.socials li:hover,
.footer-nav li:hover{
  font-size: 24px ;
}