.Body {
    background-color: blueviolet;
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100vh;
  }
  
  .SliderContainer {
    width: 100%;
    max-width: 1000px;
  }
  
  /* Estilos para el contenedor del slider */
  .slick-slider {
    text-align: center; /* Centra horizontalmente el contenido del slider */
  }
  
  /* Estilos para las imágenes en el slider */
  .SliderImg {
    max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
    max-height: 550px;
    margin: 0 auto; /* Centra horizontalmente la imagen */
  }