body{
  margin: 0;
  padding: 0;
}

.Body {
    background-color: #fff;
  }
  
  .SliderContainer {
    width: 100%;
    margin-top: 3%;
  }
  
  .slick-slider {
    text-align: center;
  }
  
  /* Estilos para las imágenes en el slider */
  .SliderImg {
    max-width: 100%; /* Asegura que las imágenes no excedan el ancho del contenedor */
    max-height: 800px;
    margin: 0 auto; /* Centra horizontalmente la imagen */
  }


